#### Data Wrangling

In [2]:
## Import libraries & Declare the path to the data files
import pandas as pd
import numpy as np
import os
path = r'C:\Users\PC\Desktop\CareerFoundry Data Analytics\08-2025 Instacart Basket Analysis\02 Data\Original Data'
path_data = r'C:\Users\PC\Desktop\CareerFoundry Data Analytics\08-2025 Instacart Basket Analysis'

In [3]:
## Import data 
df_ord = pd.read_csv(os.path.join(path, 'orders.csv'), index_col=False)
df_prods = pd.read_csv(os.path.join(path, 'products.csv'), index_col=False)
df_dep = pd.read_csv(os.path.join(path, 'departments.csv'), index_col = False)
df_ord = df_ord.drop(columns = ['eval_set'])

In [4]:
df_ord.shape

(3421083, 6)

In [5]:
df_prods.shape

(49693, 5)

In [129]:
# Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and change it to a suitable format.
df_ord['user_id'] = df_ord['user_id'].astype('str')

In [130]:
df_ord['order_hour_of_day'].value_counts(dropna = True)

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

#### Name change

In [131]:
# Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the dataframe.
df_ord.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

#### Busiest hour

In [132]:
# Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings.
df_ord['order_hour_of_day'].value_counts(dropna = True)

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

The busiest hour is for placing orders is 10.

#### Department ID 4

In [133]:
# Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.
# Transpose the dataframe
df_dep_t = df_dep.T

# Reset index 
df_dep_t = df_dep_t.reset_index(drop=True) 

# Create new header from the first row
new_header = df_dep_t.iloc[0]

# Take data from row 1 onward
df_dep_t_new = df_dep_t[1:]

# Set new header
df_dep_t_new.columns = new_header

df_dep_t_new

In [134]:
# create a data dictionary
data_dict = df_dep_t_new.to_dict('index')

In [135]:
print(data_dict.get(4))

{'department': 'produce'}

#### Breakfast

In [136]:
# The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information.
df_prods_breakfast = df_prods.loc[df_prods['department_id'] == 14]

#### Dinner Party

In [137]:
# Create subset for a dinner party  ( alcohol, deli, beverages, and meat/seafood ) and print its number of rows 
df_prods_dinner_party = df_prods.loc[df_prods['department_id'].isin([7,12,19,20])]
df_prods_dinner_party.head()
df_prods_dinner_party.shape

(12858, 5)

#### User_id 1

In [138]:
# Set a data frame for user_id 1
df_user_1=df_ord.loc[df_ord['user_id'] == '1']
df_user_1
df_user_1.describe()

,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,1.100000e+01,11.000000,11.000000,11.000000,10.000000
mean,1.923450e+06,6.000000,2.636364,10.090909,19.000000
std,1.071950e+06,3.316625,1.286291,3.477198,9.030811
min,4.315340e+05,1.000000,1.000000,7.000000,0.000000
25%,8.690170e+05,3.500000,1.500000,7.500000,14.250000
50%,2.295261e+06,6.000000,3.000000,8.000000,19.500000
75%,2.544846e+06,8.500000,4.000000,13.000000,26.250000
max,3.367565e+06,11.000000,4.000000,16.000000,30.000000

This user typically places orders early in the week, usually around 10 AM. On average, there are 19 days between their orders.

#### Export the DFs

In [139]:
df_ord.to_csv(os.path.join(path_data, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [140]:
df_dep_t_new.to_csv(os.path.join(path_data, '02 Data','Prepared Data', 'departments_wrangled.csv'))