#### 4.6 Combining and exporting data

In [26]:
# Import libraries & Declare the path to the data files
import pandas as pd
import numpy as np
import os
path = r'C:\Users\PC\Desktop\CareerFoundry Data Analytics\08-2025 Instacart Basket Analysis\02 Data\Original Data'
path_data = r'C:\Users\PC\Desktop\CareerFoundry Data Analytics\08-2025 Instacart Basket Analysis'

In [27]:
# Import data
df_ords_prior = pd.read_csv(os.path.join(path, 'df_ords_prior_smaller.csv'), index_col=False)
df_ord = pd.read_csv(os.path.join(path,'df_ord_smaller.csv'), index_col=False)

In [28]:
df_ords_prior.head()

   Unnamed: 0  order_id  product_id  add_to_cart_order  reordered
0           0         2       33120                  1          1
1           1         2       28985                  2          1
2           2         2        9327                  3          0
3           3         2       45918                  4          1
4           4         2       30035                  5          0

In [29]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 5 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   order_id           int64
 2   product_id         int64
 3   add_to_cart_order  int64
 4   reordered          int64
dtypes: int64(5)
memory usage: 1.2 GB

In [30]:
# Change types for df_ords_prior data set 
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')
df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')

In [31]:
df_ord.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [32]:
df_ord.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(6)
memory usage: 182.7 MB

In [33]:
# Change types for ords data set
df_ord['order_id']=df_ord['order_id'].astype('int32')
df_ord['user_id'] = df_ord['user_id'].astype('int32')
df_ord['order_number']=df_ord['order_number'].astype('int8')
df_ord['orders_day_of_week']=df_ord['orders_day_of_week'].astype('int8')
df_ord['order_hour_of_day']=df_ord['order_hour_of_day'].astype('int8')
df_ord['days_since_prior_order']=df_ord['days_since_prior_order'].astype('float16')

In [34]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 5 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   order_id           int32
 2   product_id         int32
 3   add_to_cart_order  int32
 4   reordered          int8
dtypes: int32(3), int64(1), int8(1)
memory usage: 649.6 MB

In [35]:
df_ord.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int32
 2   user_id                 int32
 3   order_number            int8
 4   orders_day_of_week      int8
 5   order_hour_of_day       int8
 6   days_since_prior_order  float16
dtypes: float16(1), int32(2), int64(1), int8(3)
memory usage: 68.5 MB

In [36]:
## You want to merge this new dataframe with your df_ords dataframe, something you should be able to do easily despite their different shape, thanks to their shared column: “order_id.”
df_merged_large = df_ord.merge(df_ords_prior, on = 'order_id', indicator = True)

In [37]:
df_merged_large.head()

C:\Users\PC\anaconda3\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,Unnamed: 0_y,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,24076664,196,1,0,both
1,0,2539329,1,1,2,8,NaN,24076665,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,24076666,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,24076667,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,24076668,26405,5,0,both

In [38]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [39]:
#### Export the df in a pkl format

In [40]:
df_merged_large.to_pickle(os.path.join(path_data, '02 Data','Prepared Data', 'orders_products_combined.pkl'))